{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
        "target": "es2022",
        "parser": {
            "syntax": "typescript",
            "dynamicImport": true
        }
    },
    "module": {
        "type": "es6"
    },
    "sourceMaps": true,
    "minify": false
}