{
    "$schema": "https://json.schemastore.org/swcrc",
    "jsc": {
        "target": "es2020",
        "parser": {
            "syntax": "typescript",
            "dynamicImport": true
        }
    },
    "module": {
        "type": "commonjs"
    },
    "sourceMaps": true,
    "minify": false,
    "env": {
        "targets": "Chrome >= 48"
    }
}